*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    min-width: 320px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    width: 100%;
}

header{
    background-color: #f8cf3d;
    position: fixed;
    width: 100%;
    z-index: 100;
}

#main-container {
    position: relative;
    top: 64px;
}
    

header .desktop, header .mobile{
    width: 100%;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: space-between;  
}
header .mobile {
    display: none;
}

header .mobile nav{
    width: 100%;
    display: flex;
    justify-content: space-around;

}


nav ul li {
    display: inline-block;
    margin: 16px;
}

#logo{
    height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

#main-container {
    width: 100%;
}

footer, header{
    padding-left: 24px;
    padding-right: 24px;
}

#banner {
    align-items: center;
}

.section {
    display: flex;
    align-items: flex-start;
}

.main {
    width: 60%;
    padding: 32px 24px;
}
.aside{
    width: 40%;
    padding-top: 16px; 
}

.main img, video{
    width: 100%;
}

.button {
    width: 225px;
    background-color: #47005e;
    color: white;
    display: block;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    transition: 0.2s ease-out;
}

.button:hover {
    background-color: #67556d;
}

#start-here h1, #start-here h4, .botton {
    margin-top: 20px;
    margin-bottom: 20px;
}

#articles {
    padding: 0;
}

.article {
    display: flex;
    padding: 16px 0px 16px 16px ;

    align-items: center;
    justify-content: start;

}

.article img {
    width: 35%;
}

.article .mobile {
    display: none;
}

.article .info {
    width: 65%;
}

.aside-content{
    margin-right: 16px;
}

#latest img {
    margin-bottom: 32px;
}

#latest h2{
    margin-bottom: 24px;
}

#latest p{
    padding-bottom: 32px;
}

.article h4, .article p {
    margin-bottom: 10px;
}

#start-learning .desktop{
    padding: 32px 72px;
    text-align: center;
    width: 100%;
}
 #start-learning .mobile {
     text-align: center;
     padding: 32px 16px;
     width: 100%;
     display: none;
 }

#start-learning .mobile .courses{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;

}

#start-learning .mobile .course{
    padding: 16px 16px 24px 16px;
    margin: 0px 0px 8px 0px;
    width: 100%;
    background-color: lavender;

}


    

.layer{
    display: flex;
    
}

.course {
    text-align: left;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    width: 33.33%;
    background-color: rgb(246, 246, 255);
    margin-bottom: 16px;
    transition: 0.2s linear;
}

.course:hover{
    background-color: lavender;
}

#start-learning .mobile .course {

}

.right {
    margin-right: 0;
}
.course img {
    width: 100%;
    height: auto;
}

#start-learning .desktop h2 {
    margin-bottom: 32px;
}

.course .info {
    padding: 16px 16px 24px 16px;
}

.course .info span{
    display: block;
    padding: 8px 0px;
}

#thesis-exhibit h2 {
    text-align: center;
}
#thesis-exhibit .section .main h4{
    margin-top: 24px;
    margin-bottom: 8px;
}

#thesis-exhibit .section .main p{
    margin-bottom: 32px;
}

footer {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 64px;
}

#privacy-nav ul li {
    display: inline-block;
    margin: 10px;
}

@media only screen and (max-width: 690px){
    header .desktop{
        display: none;
    }
    header .mobile{
        display: flex;
    }
    #banner {
        flex-direction: column;
        padding-bottom: 32px;
    }

    #banner .aside, #banner .main{
        width: 100%;
        padding: 0;
    }

    #articles .main{
        display: none;
    }

    #articles .aside {
        width: 100%;
        margin-left: 16px;
        margin-right: 16px;
        padding-top: 16px;
        
    }

    #articles .article .desktop {
        display: none;
    }

    #articles .article .mobile{
        display: flex;
        width: 100%;
    }

    #articles .article {
        flex-direction: column;
        padding-bottom: 32px;
        padding-top: 0;
    }

    #articles .article .info{
        width: 100%;
        padding-top: 16px;
        padding-left: 16px;
    }

    #start-learning .mobile {
        display: block;
    }

    #start-learning .desktop {
        display: none;
    }

    #thesis-exhibit{
        padding: 32px 0px 24px 0px;

    }

    #thesis-exhibit .aside,  #thesis-exhibit .main p,  #thesis-exhibit .main h4{
        display: none;
    }

    #thesis-exhibit .main {
        width: 100%;
        padding: 0;
    }
    #thesis-exhibit h2 {
        margin-bottom: 16px;
    }

    #privacy-nav {
        display: none;
    }

    footer {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    

    
    
}








